__pycache__
*.pyc
*~
.idea
results
.ipynb_checkpoints
.DS_Store
demos_*
*.mp4
to_do
to_kill
*.demo
*.tar.gz
*.jobs
*.monitor.csv
.unison*
*.orig
*~master
image_processing/video/*
policy_based/video/*
policy_based/program_runner_log.txt
